// Default variables
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Oswald:400,600,700&display=swap&subset=latin-ext');

html {
	--base-font-size: 18px;
}

// Light default theme
body {
	--font-body: "Merriweather", Times, serif;
	--font-headers: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	--bg-color: #fffcf182;
 	--bg-content-color: #fffcf182;
 	--bg-code: #f7f7f7;
 	--body-color: #292929;
 	--title-color: rgb(27, 27, 27);
 	--link-color: #009688;
 	--border-color:  rgba(0,0,0,0);
 	--border-quote:  rgb(71, 71, 71);	
	--space: 3.2rem;
  --content-width: 920px;
  --header-height: 60px;
  --radius: 2px;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
	html {
		--base-font-size: 14px;
	}
	body {
		--space: 1.6rem;
		--header-height: 40px;
	}
}


// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: rgb(6, 22, 36);
 	--bg-content-color: rgb(6, 22, 36);
 	--bg-code: rgba(0,0,0,.3);
 	--border-color:  rgba(255,255,255,0);;
 	--body-color: #ced8de;
 	--title-color: #fff;
 	--link-color: #009688;
}
