
@font-face {
    font-family: 'CooperHewitt';
    src: url('../fonts/cooper-hewitt/cooperhewitt-thin-webfont.eot');
    src: url('../fonts/cooper-hewitt/cooperhewitt-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooper-hewitt/cooperhewitt-thin-webfont.woff2') format('woff2'),
         url('../fonts/cooper-hewitt/cooperhewitt-thin-webfont.woff') format('woff'),
         url('../fonts/cooper-hewitt/cooperhewitt-thin-webfont.ttf') format('truetype'),
         url('../fonts/cooper-hewitt/cooperhewitt-thin-webfont.svg#cooper_hewittthin') format('svg');
    font-weight: 200;
    font-style: normal;

}


@font-face {
    font-family: 'CooperHewitt';
    src: url('../fonts/cooper-hewitt/cooperhewitt-light-webfont.eot');
    src: url('../fonts/cooper-hewitt/cooperhewitt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooper-hewitt/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('../fonts/cooper-hewitt/cooperhewitt-light-webfont.woff') format('woff'),
         url('../fonts/cooper-hewitt/cooperhewitt-light-webfont.ttf') format('truetype'),
         url('../fonts/cooper-hewitt/cooperhewitt-light-webfont.svg#cooper_hewittlight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'CooperHewitt';
    src: url('../fonts/cooper-hewitt/cooperhewitt-medium-webfont.eot');
    src: url('../fonts/cooper-hewitt/cooperhewitt-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooper-hewitt/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('../fonts/cooper-hewitt/cooperhewitt-medium-webfont.woff') format('woff'),
         url('../fonts/cooper-hewitt/cooperhewitt-medium-webfont.ttf') format('truetype'),
         url('../fonts/cooper-hewitt/cooperhewitt-medium-webfont.svg#cooper_hewittmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}
