---
layout: default
---
<article class="post">
    <header class="row">
        <h1>{{ page.title }}</h1>
        <div class="post-heading">
            <p class="teaser">{{page.description}}</p>
            <hr />
            <p class="post-header">
                <span class="date">{{page.date | date_to_string}}</span>
            </p>
            <hr />
        </div>
    </header>
    <div class="post-body row">
        {{content}}
    </div>
    <p class="pull-xs-right">
        <em>Si vous avez aimé, partagez: </em>
        <a class="share" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">
            <span class="fa-stack fa-large">
                <i class="fa fa-square text-twitter fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a class="share" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&p[title]={{page.title}}" rel="nofollow" target="_blank" title="Share on Facebook">
            <span class="fa-stack fa-large">
                <i class="fa fa-square text-fb fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </p>
</article>

<ul class="pager-custom">
    {% if page.previous %}
        <li class="previous">
            <a class="btn btn-primary-outline" href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
        </li>
    {% endif %}
    {% if page.next %}
        <li class="next">
            <a class="btn btn-primary-outline" href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
        </li>
    {% endif %}
</ul>
